<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.welcomeworld.devbase">
    <application>
        <provider
            android:authorities="github.welcomeworld.dev.base.provider"
            android:name=".provider.DevBaseInitContentProvider"
            android:exported="false" />
    </application>
</manifest>